@use '../styles/abstracts/vars';

.heading1 {
    font-weight: bold;
    font-size: 2.25rem;
}
.heading2 {
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    //background-color: pink;
}
.heading3{
    font-weight: bold;
    font-size: 1.125rem;
    //background-color: limegreen;
    a {
        color: vars.$color_black;
    }
}
.heading4{
    font-style: italic;
    font-size: 1.125rem;
}